@font-face {
    font-family: "Oliver's Barney";
    src: url("data/oliver's barney.ttf") format("opentype");
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    width: 3000px;
}

.map {
    display: flex;
    flex-direction: row;
    padding: 300px;
}

.facilityZone {
    border-spacing: 0;
    margin: 25px;
    box-shadow: 0 0px 10px white;
}

.facilityZone tr {
    margin: 0;
}

.facilityZone td {
    border: 1px solid rgba(150, 150, 150, 1);
    /*background-color: green;*/
    width: 50px;
    height: 50px;
}

.facilityZone td:hover {
    background-color: rgba(255, 238, 0, 0.747);
}

.zoneLogo {
    color: white;
    font-family: "Oliver's Barney";
    padding: auto 0px;
}

.userInterface {
    position: fixed;
    z-index: 10;
    background-color: grey;
    width: 250px;
    height: 100%;
    top: 0;
}

.playerList {
    margin: 5px;
    padding: 10px;
    font-family: monospace;
    list-style: none;
}

.playerList:first-child {
    font-weight: bold;
    font-size: 20px;
}